body {
    margin: 0px;
}

.menu-container {
    display: flex;
    background-color: black;
    color: white;
    height: 20px;


}

.menu-item {
    display: flex;
    justify-content: space-evenly;
    margin-left: 45%;

}

.menu-item li {
    list-style: none;
    margin: 10px;
    font-size: 18px;
}

.Fitness {
    text-align: left;
    margin: auto;
    font-size: 40px;

}

.menu-item li:hover {
    color: blue;

}

.first-banner {
    display: flex;
    background-color: black;
    height: 100vh;
    width: 100%;

}

.text-side {
    color: white;
    margin-top: 150px;
    padding-left: 3%;



}

#first-text {
    color: red;
}

#second-text {
    font-size: 50px;

}

.button-side {
    border: 1px solid orangered;
    background-color: orangered;
    padding: 15px 30px;
    border-radius: 5px;
}

.img-size {
    height: 80%;
    width: 80%;
    margin-top: 40px;
    margin-right: 30%;



}